<a href="https://colab.research.google.com/github/muhamad-rizal/Uas-MachineLearning-No-3/blob/main/Uas%20No%203%20ML%20naive%20bayes%20dari%20soal%20no%202%20bagian%20B%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
columns = ['Name','Body','Gives','Four-Legged','Hibernate','Mamalia(Yes/No)']
rows = []
rows = [['Salamander','Cold','No','Yes','Yes','No'],
        ['Guppy','Cold','Yes','No','No','No'],
        ['Eagle','Warm','No','No','No','No'],
        ['Poorwile','Warm','No','No','Yes','No'],
        ['Platypus','Warm','No','Yes','Yes','Yes']]

training_data = pd.DataFrame(rows, columns=columns)
training_data

         Name  Body Gives Four-Legged Hibernate Mamalia(Yes/No)
0  Salamander  Cold    No         Yes       Yes              No
1       Guppy  Cold   Yes          No        No              No
2       Eagle  Warm    No          No        No              No
3    Poorwile  Warm    No          No       Yes              No
4    Platypus  Warm    No         Yes       Yes             Yes

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
No_docs = [row['Name'] for index,row in training_data.iterrows()if row['Mamalia(Yes/No)'] == 'No']
No_docs

['Salamander', 'Guppy', 'Eagle', 'Poorwile']

In [40]:

vec_s = CountVectorizer()
X_s = vec_s.fit_transform(No_docs)

tdm_s = pd.DataFrame(X_s.toarray(), columns=vec_s.get_feature_names())

tdm_s

   eagle  guppy  poorwile  salamander
0      0      0         0           1
1      0      1         0           0
2      1      0         0           0
3      0      0         1           0

In [42]:
q_docs = [row['Name'] for index,row in training_data.iterrows() if row['Mamalia(Yes/No)'] == 'Yes' ]
vec_q = CountVectorizer()
x_q = vec_q.fit_transform(q_docs)
tdm_q = pd.DataFrame(x_q.toarray(), columns=vec_q.get_feature_names())

tdm_q

   platypus
0         1

In [43]:
word_list_s = vec_s.get_feature_names();
count_list_s = X_s.toarray().sum(axis=0)
freq_s = dict(zip(word_list_s,count_list_s))
word_list_s
freq_s

{'eagle': 1, 'guppy': 1, 'poorwile': 1, 'salamander': 1}

In [45]:
word_list_q = vec_q.get_feature_names();
count_list_q = X_s.toarray().sum(axis=0)
freq_q = dict(zip(word_list_q,count_list_q))
word_list_q
freq_q

{'platypus': 1}

In [46]:
prob_s=[]
for word,count in zip(word_list_s,count_list_s):
  prob_s.append(count/len(word_list_s))
dict(zip(word_list_s,prob_s))

{'eagle': 0.25, 'guppy': 0.25, 'poorwile': 0.25, 'salamander': 0.25}

In [47]:
word_list_q = vec_q.get_feature_names();
count_list_q = X_s.toarray().sum(axis=0)
freq_q = dict(zip(word_list_q,count_list_q))
freq_q

{'platypus': 1}

In [49]:
prob_q=[]
for word,count in zip(word_list_q,count_list_q):
    prob_q.append(count/len(word_list_q))
dict(zip(word_list_q,prob_q))

{'platypus': 1.0}

In [50]:
from sklearn.feature_extraction.text import CountVectorizer

docs = [row['Name'] for index,row in training_data.iterrows()]

vec = CountVectorizer()
X = vec.fit_transform(docs)

total_feature = len(vec.get_feature_names())
total_feature

5

In [51]:
total_cnts_feature_s = count_list_s.sum(axis=0)
total_cnts_feature_q = count_list_q.sum(axis=0)
print (total_cnts_feature_q)
print (total_cnts_feature_s)

4
4

In [53]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [54]:
from nltk.tokenize import word_tokenize
new_sentence = 'what is the value'
new_word_list = word_tokenize(new_sentence)
print(new_word_list)

['what', 'is', 'the', 'value']

In [55]:
prob_s_with_ls = []
for word in new_word_list:
  if word in freq_s.keys():
    count = freq_s[word]
  else:
    count = 0
  prob_s_with_ls.append((count + 1)/(total_cnts_feature_s + total_feature))
dict(zip(new_word_list,prob_s_with_ls))

{'is': 0.1111111111111111,
 'the': 0.1111111111111111,
 'value': 0.1111111111111111,
 'what': 0.1111111111111111}

In [56]:
prob_q_with_ls = []
for word in new_word_list:
  if word in freq_q.keys():
    count = freq_q[word]
  else:
    count = 0
  prob_q_with_ls.append((count + 1)/(total_cnts_feature_q + total_feature))
dict(zip(new_word_list,prob_q_with_ls))

{'is': 0.1111111111111111,
 'the': 0.1111111111111111,
 'value': 0.1111111111111111,
 'what': 0.1111111111111111}

In [57]:

i=0
prob_s_=1
for i in range(len(prob_s_with_ls)):
  prob_s_=prob_s_*prob_s_with_ls[i]
print (prob_s_)
print("Nilai Akhir=",prob_s_*0.5 )

0.00015241579027587256
Nilai Akhir= 7.620789513793628e-05

In [58]:
i=0
prob_q_=1
for i in range(len(prob_q_with_ls)):
  prob_q_=prob_q_*prob_q_with_ls[i]
print (prob_q_)
print("Nilai Akhir=",prob_q_*0.5 )

0.00015241579027587256
Nilai Akhir= 7.620789513793628e-05